{% extends "main/base/base.html" %}

{% block title %}Produto | {{ product.name }}{% endblock title %}

{% block content %}
    <div class="product-container">
        <div class="product-cover">
            <div class="product-options">
                <button onclick="changePicture('{{ product.mainPicture.url }}')">
                    <img src="{{ product.mainPicture.url }}" alt="">
                </button>
                {% if product.secondPicture %}
                    <button onclick="changePicture('{{ product.secondPicture.url }}')">
                        <img src="{{ product.secondPicture.url }}" alt="">
                    </button>
                {% endif %}
                {% if product.thirdPicture %}
                    <button onclick="changePicture('{{ product.thirdPicture.url }}')">
                        <img src="{{ product.thirdPicture.url }}" alt="">
                    </button>
                {% endif %}
                {% if product.fourthPicture %}
                    <button onclick="changePicture('{{ product.fourthPicture.url }}')">
                        <img src="{{ product.fourthPicture.url }}" alt="">
                    </button>
                {% endif %}
            </div>
            <div class="product-img">
                <img id="picture-container" src="{{ product.mainPicture.url }}" class="product-cover-img">
            </div>
        </div>

        <div class="product-info">
            <div class="product-title">
                <h1>{{ product.name }}</h1>
            </div>
            <div class="product-owner">
                <a href="{% url 'main_app:company' product.company.slug %}">
                    <img src="{{ product.company.profilePic.url }}" alt="">
                    {{ product.company.businessName }}
                </a>
            </div>
        </div>

        <div class="product-value">
            <h2>R$ {{ product.value }}</h2>
        </div>

        <div class="product-description">
            {{ product.description }}
        </div>

        <div class="product-rating">
            {% include "main/partials/product-rating.html" %}
        </div>

        <div class="product-button">
            <form action="{% url "main_app:product" product.slug %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="client" value="{{ user_profile.id }}">
                <input type="hidden" name="product" value="{{ product.id }}">
                <input type="hidden" name="amount" value=1>
                <input type="hidden" name="finalPrice" value={{ 0 }}>
                <button type="submit"><i class="fa-solid fa-cart-shopping"></i> Comprar</button>
            </form>
        </div>
    </div>
{% endblock content %}