.main-content-container {
    height: 100%;
    background-color: rgba(224, 224, 224, .75);
}

.requests-owner {
    margin: var(--spacing-gutter-large) var(--spacing-gutter-medium) 0 var(--spacing-gutter-medium);
}

.requests-owner-title {
    width: 100%;
    text-align: center;
    border-bottom: .2rem solid var(--color-black);
    display: flex;
    flex-flow: row nowrap;
}

.requests-owner-title h1 {
    width: 50%;
}

.request-owner-right,
.request-owner-left {
    width: 25%;
}

.request-owner-new {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request-owner-new a {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-black);
}

.request-owner-new a i {
    font-size: 20px;
    font-weight: bold;
    margin-right: .5rem;
}

.request-owner-new a:hover {
    color: var(--color-primary);
}

.requests-owner-not-found {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requests-owner-message {
    margin: var(--spacing-gutter-small);
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
    width: fit-content;
}

.requests-owner-list {
    padding: var(--spacing-gutter-small);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-gutter-extra-small);
}

.requests-others {
    margin: var(--spacing-gutter-large) var(--spacing-gutter-medium) 0 var(--spacing-gutter-medium);
}

.requests-others-title {
    width: 100%;
    text-align: center;
    border-bottom: .2rem solid var(--color-black);
}

.requests-others-list {
    padding: 0 var(--spacing-gutter-small) var(--spacing-gutter-medium) var(--spacing-gutter-small);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-gutter-extra-small);
}

/* CARD */

.requests-card {
    width: 100%;
    display: flex;
    flex-flow: row nowrap
}

.requests-card-content {
    width: 90%;
    border: .15rem solid var(--color-black);
    background-color: var(--color-gray-5);
    display: flex;
    flex-flow: column nowrap;
}

.request-card-title {
    padding: calc(var(--spacing-gutter-extra-small) / 2);
}

.request-card-title a{
    width: 100%;
    text-decoration: none;
    color: var(--color-gray-9);
}

.request-card-info {
    display: flex;
    flex-flow: row nowrap;
    margin: calc(var(--spacing-gutter-extra-small) / 2);
    justify-content: space-between;
}

.request-card-budget,
.request-card-type,
.request-card-owner {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
}

.request-card-owner a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
}

.request-card-owner h4 {
    color: var(--color-gray-9);
    transition: all 300ms ease-in-out;
}

.request-card-owner a:hover h4 {
    color: var(--color-primary);
}


.request-card-owner img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: .5rem;
    background-color: rgba(0, 0, 0, .15);
    border: .1rem solid rgba(0, 0, 0, .2);
}

.requests-card-button {
    width: 10%;
    height: 100%;
    border: .15rem solid var(--color-black);
    border-left: none;
    background-color: var(--color-gray-5);
    display: flex;
}

.requests-card-button button {
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-5);
    border: none;
    outline: none;
    font-size: 20px;
}

.requests-card-button button:hover {
    background-color: var(--color-gray-6);
    color: var(--color-primary);
}