/* SERVICE LIST */

.main-services-container {
    width: 100%;
    margin:  0 0 var(--spacing-gutter-large) 0;
}

.main-services-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-medium);
    padding: var(--spacing-gutter-small);
    background-color: rgba(224, 224, 224, .75);
}

@media (max-width: 600px) {
    .main-services-list {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

/* SERVICE CARD */

.service-card {
    /* max-width: 32rem; */
    max-width: 385px;
    border-radius: 10px;
    border: .15rem solid var(--color-black);
    background-color: var(--color-white);
    box-shadow: -.5rem .5rem 1rem rgba(0, 0, 0, .2);
    overflow: hidden;
    position: relative;
    height: fit-content;
}

.service-card a {
    text-decoration: none;
    color: var(--color-black);
}

.service-card-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid var(--color-black);
}

.service-card-cover img {
    width: 90%;
    max-height: auto;
    border-radius: 10px;
    border: .1rem solid var(--color-black);
    object-fit: cover;
    margin: var(--spacing-gutter-extra-small);
}

.service-card-title {
    padding: .5rem;
}

.service-card-value {
    padding: .5rem;
}

.service-card-details {
    padding: .5rem;
    height: 3.5rem;
}

.service-card-info {
    padding: .5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.service-card-rating {
    width: 50%;
    color: #ffe400;
}

.service-card-company {
    width: 50%;
    display: flex;
    justify-content: center;
}

.service-card-company a {
    transition: all 300ms ease-in-out;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.service-card-company a:hover {
    color: var(--color-primary);
}

.service-card-company img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: .5rem;
    background-color: rgba(0, 0, 0, .15);
    border: .1rem solid rgba(0, 0, 0, .2);
}

.card-button {
    margin: .5rem;
}

.card-button button {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--color-black);
    color: var(--color-gray-0);
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
}

.card-button button:hover {
    color: var(--color-primary);
    background-color: var(--color-gray-9);
}