<footer class="main-footer-container">
    <div class="main-footer-info">
        <div class="main-footer-socials">
            <a href="https://x.com/ConectaMetal?s=20"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/conecta.metal/?igsh=MW15bGNhcTVsNDQyZg%3D%3D"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://linkedin.com/in/conecta-metal-57ba872b4"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/ConectaMetal"><i class="fa-brands fa-github"></i></a>
            <a href="conectametal@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </div>
        <div class="main-footer-about-us">
            <a class="main-footer-button" href="{% url "main_app:about" %}">Sobre Nós</a>
        </div>
    </div>
    <div class="main-footer-rights">
        ©2024 - Conecta Metal. Todos os direitos reservados.
    </div>
</footer>