<div class="pagination-container">
    <div class="pagination-content">
        {% if pagination_range.current_page != 1 %}
            <a href="?page=1{{ additional_url_query }}" class="pagination-link pagination-item"><i class="fa-solid fa-angles-left"></i></a>
            <a href="?page={{ pagination_range.prev_page }}{{ additional_url_query }}" class="pagination-link pagination-item"><i class="fa-solid fa-angle-left"></i></a>
        {% endif %}

        {% for page in pagination_range.pagination %}
            {% if pagination_range.current_page == page %}
                <a href="?page={{ page }}{{ additional_url_query }}" class="pagination-link pagination-item pagination-current">{{ page }}</a>
            {% else %}
                <a href="?page={{ page }}{{ additional_url_query }}" class="pagination-link pagination-item">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if pagination_range.current_page != pagination_range.total_pages %}
            <a href="?page={{ pagination_range.next_page }}{{ additional_url_query }}" class="pagination-link pagination-item"><i class="fa-solid fa-angle-right"></i></a>
            <a href="?page={{ pagination_range.total_pages }}{{ additional_url_query }}" class="pagination-link pagination-item"><i class="fa-solid fa-angles-right"></i></a>
        {% endif %}
        
    </div>
</div>