<div class="requests-card">
    <div class="requests-card-content">
        <div class="request-card-title">
            <a href="#">
                <h2>{{ request.name }}</h2>
            </a>
        </div>
        <div class="request-card-info">
            <div class="request-card-budget">
                <h4>Orçamento: R$ {{ request.maxBudget }}</h3>
            </div>
            <div class="request-card-type">
                <h4>Tipo: {{ request.type }}</h3>
            </div>
            <div class="request-card-owner">
                <a href="{% url "main_app:profile" request.owner.user.username %}">
                    {% if request.owner.picture %}
                        <img src="{{ request.owner.picture.url }}" alt="">
                    {% endif %}
                    <h4>{{ request.owner.user.username }}</h4>
                </a>
            </div>
        </div>
    </div>
    {% if user_profile == request.owner %}
        <div class="requests-card-button">
            <button>
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </div>
    {% endif %}
</div>